DISCORD_TOKEN=isi_token_bot_discord
DISCORD_GUILD_ID=755800147065176224
ROLE_PANEL_CHANNEL_ID=isi_id_channel_role_panel
CHANNEL_ID=isi_id_channel_notifikasi_tiktok
TIKTOK_USERNAME=restareaserver
DASHBOARD_USERNAME=Reyypo
DASHBOARD_PASSWORD=isi_password_dashboard
PORT=3000
