<!DOCTYPE html>
<html>
<head>
  <title>REST AREA</title>
  <style>
    body {
      margin: 0;
      background: #000;
      color: white;
      font-family: Arial, sans-serif;
    }

    nav {
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 40px;
    }

    .logo {
      font-size: 28px;
      font-weight: bold;
    }

    .menu a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      margin: 0 18px;
    }

    .open-dashboard {
      background: white;
      color: black;
      padding: 16px 28px;
      border-radius: 30px;
      text-decoration: none;
      font-weight: bold;
    }

    .hero {
      text-align: center;
      margin-top: 70px;
    }

    .hero img {
      width: 70%;
      max-width: 1200px;
      border-radius: 55px;
    }

    h1 {
      font-size: 52px;
      margin-top: 70px;
    }
  </style>
</head>
<body>

  <nav>
    <div class="logo">REST AREA</div>

    <div class="menu">
      <a href="https://discord.gg/FN3CQcTNQx" target="_blank">Join Server</a>
    </div>

    <a href="/login" class="open-dashboard">Open Dashboard</a>
  </nav>

  <div class="hero">
    <img src="https://cdn.discordapp.com/attachments/1514363278615380281/1514394569469333566/standard_5.gif">
    <h1>Welcome to REST AREA Dashboard</h1>
  </div>

</body>
</html>