<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<title>REST AREA</title>

<style>
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}

body{
  min-height:100vh;
  background:url('/images/bg.png') center center/cover no-repeat;
  color:white;
}

.overlay{
  background:rgba(0,0,0,.72);
  min-height:100vh;
}

nav{
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:30px 60px;
}

.logo{
  font-size:32px;
  font-weight:900;
}

.menu{
  display:flex;
  gap:30px;
}

.join-btn{
  color:white;
  text-decoration:none;
  font-size:20px;
  font-weight:bold;
}

.open-dashboard{
  background:white;
  color:black;
  text-decoration:none;
  padding:15px 30px;
  border-radius:999px;
  font-weight:800;
}

.hero{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  text-align:center;
  height:75vh;
}

.hero h1{
  font-size:90px;
  font-weight:900;
}

.hero p{
  margin-top:15px;
  color:#ccc;
  font-size:22px;
}
</style>
</head>
<body>

<div class="overlay">

<nav>
  <div class="logo">
    REST AREA
  </div>

  <div class="menu">
    <a
      href="https://discord.gg/FN3CQcTNQx"
      target="_blank"
      class="join-btn"
    >
      Join Server
    </a>
  </div>

  <a href="/login" class="open-dashboard">
    Open Dashboard
  </a>
</nav>

<section class="hero">
  <h1>REST AREA</h1>
  <p>Manage your server easily</p>
</section>

</div>

</body>
</html>